<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>** tmp SPA</title>
        <meta name="description" content="Frontend boilerplate - Diego Téliz" />
        <meta name="author" content="Diego Teliz, aloha@diegoteliz.com" />

        <!--

                            ░▓██      
                            ████      
                            ████      
                      ▒███░ ████      
                      ████░ ████      
                      ████  ████      
                      ████░ ████      
               ▒▓▓▓█▒ ████  ████ ░▓▓▓▓
           ░▓███████▓ ████░ ████ ▓████
          ▓████▒░     ████  ████      
         ▓███▓        ████░ ████      
        ▓████         ████░ ████      
        ████▓         ████░ ████      
        ▓████         ████  ████▒     
         ▓███▓       ████▓  ░████▒    
          ▓████▓▒░▒▓████▓    ░█████▓▒▒
            ▒▓███████▓▒        ░▓█████



        Diego Téliz
        http://diegoteliz.com
        aloha@diegoteliz.com

        -->

        <!-- Facebook / Open Graph -->
        <!-- <meta property="og:url" content="https://example.com/page.html">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Content Title">
        <meta property="og:image" content="https://example.com/image.jpg">
        <meta property="og:description" content="Description Here">
        <meta property="og:site_name" content="Site Name">
        <meta property="og:locale" content="en_US">
        <meta property="article:author" content="Diego Teliz"> -->

        <!-- Twitter -->
        <!-- <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@site_account">
        <meta name="twitter:creator" content="@individual_account">
        <meta name="twitter:url" content="https://example.com/page.html">
        <meta name="twitter:title" content="Content Title">
        <meta name="twitter:description" content="Content description less than 200 characters">
        <meta name="twitter:image" content="https://example.com/image.jpg"> -->
        
        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/style.css?ver=1.0.0" />
        
        <!-- Favicons -->
        <!-- TODO: add favicons here -->

        <!-- Fixes -->
        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        <!-- Google Analytics code -->

    </head>
    <body>

        <!-- App preloader -->
        <div id="preloader"></div>

        <!-- Main header -->
        <header class="main-header">
            <a href="#" class="nav-btn static"><span class="nav-icon"></span></a>
            <h1 class="main-header-title">Frontend Boilerplate</h1>
            <a href="#" class="options-menu-btn static"><span class="options-icon"></span></a>
        </header>

        <!-- Overlay -->
        <div class="overlay"></div>
        
        <!-- Main menu -->
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Dashboard</a></li>
                <li class="nav-item"><a href="/operations" class="nav-link">Operations</a></li>
                <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
                <li class="nav-item"><a href="/summary" class="nav-link">Summary</a></li>
                <li class="nav-item"><a href="/settings" class="nav-link">Settings</a></li>
            </ul>
        </nav>

        <!-- Options menu -->
        <ul class="options-menu">
            <li class="options-item"><a href="#" class="options-link">Option 1</a></li>
            <li class="options-item"><a href="#" class="options-link">Option 2</a></li>
            <li class="options-item"><a href="#" class="options-link">Option 3</a></li>
            <li class="options-item"><a href="#" class="options-link">Option 4</a></li>
        </ul>

        <!-- Main page content -->
        <main class="main-content" style="padding-bottom: 70px;">
            
            <div id="dinamic-content">
                <!-- Here will be loaded HTML asynchronously -->
            </div>

            <div class="wrapper">
                <h1 class="the-title">Loading...</h1>

                <table class="table">
                    
                </table>

                <script type="text/template" class="category-template">
                    <td><%= category_id %></td>
                    <td><%= category_name %></td>
                    <td><%= category_color %></td>
                </script>
            </div>

        </main>

        <!-- Scripts -->
        <script data-main="/js/main" src="/js/lib/require.js"></script>

    </body>
</html>